body {
  margin: 0;
  padding: 0;
  font-family: "work sans", sans-serif;
}

svg {
  position: relative;
}

h1 {
  font-size: 60px;
  color: #333;
  font-weight: 400;
  line-height: 1.4;
  padding: 20px 35px 20px 35px;
}

h2, h3 {
  transition: background-color 0.5s;
  transition-timing-function: ease;
  padding: 20px 35px 20px 35px;
}

h2:hover {
  transition: background-color 0.5s;
  transition-timing-function: ease;
  background-color: rgba(0,0,0,0.1);
  cursor:pointer;
}

p {
  padding: 0 35px 25px 35px;
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
}

div .selected {
  color: #ffffff;
  padding-bottom: 30px;
}

a {
  color: rgba(0,0,0,0.3);
  text-decoration: none;
}

a:hover {
  color: rgba(0,0,0,0.6);
}

button {
  background-color: rgba(0,0,0,0.0);
  border: 2px solid rgba(0,0,0,0.2);
  padding: 5px 10px;
  margin: 10px 35px 35px 35px;
  color: rgba(0,0,0,0.2);
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  font-family: "macho";
  font-size: 12px;
}

button:hover {
  border-color: rgba(0,0,0,0.6);
  color: rgba(0,0,0,0.6);
  cursor: pointer;
}

path:hover {
  cursor:pointer;
}

#text {
  float:left;
  width: 50vw;
}

#container {
  width: 50vw;
  height: 100vh;
  right: 0;
  position: fixed;
  padding: 0;
}

#map {
  position:relative;
  width:100%;
  height: 100%;
}

.artwork h2 {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
}

.artwork {
  height: auto;
}

.artist {
  padding-left: 10px;
  display: inline;
  color: rgba(0,0,0,0.2);
  font-weight: 700;
}

.grey {
  color: #ccc;
}

.image-div {
  padding: 0px 35px 35px 35px;
}

.image {
  width: 100%;
  object-fit: fill;
  overflow: hidden;
  border-radius: 20px;
}

.label {
  background-color: black;
  font-family: "Work Sans";
  width: 150px;
}

.hide {
  display: none;
}

.no-wrap {
  white-space: nowrap;
}
